.page {
    background-image: url('/images/boxOfficeHomepage.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: black;
    min-height: 100vh;
}

.heading {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

/* TODO: figure out why this doesn't work when it's in the styles.queryResult thing in page */
.queryResult {
    margin-top: "20px";
    border: "1px solid #ccc";
    padding: "10px";
    display: "block";
}