.page {
    background-image: url('/images/HQ_movieScreen.webp');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps it fixed on desktop */
    color: black;
    min-height: 100vh;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .page {
        background-size: contain;
        background-attachment: scroll;
    }
}

.heading {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    color: #FFFFFF;
}

/* TODO: figure out why this doesn't work when it's in the styles.queryResult thing in page */
.queryResult {
    margin-top: "20px";
    border: "1px solid #ccc";
    padding: "10px";
    display: "block";
}