body {
    display: grid;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #c4c4c4;

}

nav {
    padding: 2rem;
    text-align: center;
    background-color: #f0f0f0;
}

.responsive-img {
    display: block;
    margin: 0 auto 1rem;
    max-width: 50px;
    width: 100%;
    height: auto;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /* space between links */
    flex-wrap: wrap; /* optional: wrap on small screens */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0077cc;
}





.promotion{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.promotion p{
    margin-bottom: 1.5rem;
    line-height: 1.6;
    text-align: justify;
}





.info {
    display: flex;
    justify-content: center; /* centers the images */
    gap: 10rem; /* space between images */
    padding: 2rem 0;
    flex-wrap: wrap; /* optional: wraps on smaller screens */
}

.info-img {
    max-width: 150px;
    width: 100%;
    height: auto;
}





footer {
    display: flex;
    justify-content: center; /* centers the images */
    gap: 10rem; /* space between images */
    padding: 2rem 0;
    flex-wrap: wrap; /* optional: wraps on smaller screens */
}

.left {
    max-width: 15px;
    width: 100%;
    height: auto;
}