body {
    /* display: grid is the important part for being able to use the grid stuff */
    display: grid;
    
    /* 1 vh is 1% of the viewport height */
    height: 90vh;

    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #2C3333;
    text-align: center;
    
    /* 2em is relative padding which is 2x the current font height */
    padding: 2em;
}

main {
    background-color: #395B64;
    text-align: center;
    padding: 2em;
}

footer{
    background-color: #A5C9CA;
    text-align: center;
    padding: 2em;
}